<div class="container-fluid margintop">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark ft-color">

    <div class="col-md-3">
      <a class="navbar-brand" href="/">Issue Tracker</a>
    </div>

    <div class="col-md-3 offset-md-5" *ngIf="isUserLoggedin">Welcome {{userName | uppercase}} </div>

    <div class="col-md-4">
      <ul class="navbar-nav">
        <li *ngIf="isUserLoggedin"> <a class="activeDiv  ft-color" href='login' (click)="logout()">Logout</a></li>
        <li *ngIf="!isUserLoggedin"><a class="activeDiv  ft-color" href='login'>Login</a></li>
      </ul>
    </div>

  </nav>
</div>