.margintop{
    padding-top: 2%;
}

.ft-color{
    color: azure;
}

.activeDiv:hover{
    color: coral
}

.pl{
    padding-left: 40%;
}

#header{
    background-color: rgb(41, 72, 172);
}

#tracker{
    font-size: 1.5em;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}