<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container-fluid margintop" id="header">
  <nav class="navbar navbar-expand-md">

    <div class="col">
      <a class="navbar-brand ft-color" id="tracker" href="/" >ISSUE TRACKER</a>
    </div>

    <div class="col pl">
      <div *ngIf="isUserLoggedin">Welcome {{userName | uppercase}} </div>
    </div>

    <div class="col">
      <ul class="navbar-nav">
        <li *ngIf="isUserLoggedin"> <a class="activeDiv  ft-color" href='login' (click)="logout()">Logout</a></li>
        <li *ngIf="!isUserLoggedin"><a class="activeDiv  ft-color" href='login'>Login</a></li>
      </ul>
    </div>

  </nav>
</div>