<div class="row margintop">
  <div class="col-md-8 offset-md-1">
    <div>Issue Description</div><br>

    <form #editForm="ngForm" (ngSubmit)="editform()">

      <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input [disabled]="!enableEdit" type="text" [(ngModel)]="title" value="title" name="title" #tit="ngModel"
            class="form-control" id="title">
        </div>
      </div>

      <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10">
          <select [disabled]="!enableEdit" [(ngModel)]="status" name="status" class="form-control" id="status" required>
            <option *ngFor="let status of statusList" [value]="status">{{status}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="reportee" class="col-sm-2 col-form-label">Reporter</label>
        <div class="col-sm-10">
          <input type="text" [(ngModel)]="reportee" value="reportee" name="reportee" #rep="ngModel" class="form-control"
            id="reportee" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="assignee" class="col-sm-2 col-form-label">Assignee</label>
        <div class="col-sm-10">
          <select [disabled]="!enableEdit" [(ngModel)]="assignee" name="assignee" class="form-control" id="assignee"
            required>
            <option *ngFor="let assignee of assigneeList" value="{{assignee.assigneeId}}">{{assignee.firstName}}
              {{assignee.lastName}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-2">Description</label>
        <div class="col-sm-10">
          <angular-editor name="description" [(ngModel)]="description"></angular-editor>

          <!-- <input [disabled]="!enableEdit" type="text" [(ngModel)]="description" value="description" name="description"
            #desc="ngModel" class="form-control" id="description"> -->
        </div>
      </div>


      <div class="form-group row">
        <label for="comments" class="col-sm-2">Comments</label>
        <div class="col-sm-10">
          <input [disabled]="!enableEdit" type="text" [(ngModel)]="comments" value="comments" name="comments"
            #comm="ngModel" class="form-control" id="comments">
        </div>
      </div>

      <!-- start upload -->
      <div class="container ">

        <div class="form-group row">
          <label for="files">Select files</label>
          <div class="col">
            <input type="file" name="files" ng2FileSelect [uploader]="uploader" multiple /><br />
          </div>
        </div>

        <div class="row" style="margin-bottom: 40px" *ngIf="uploader.queue.length>0">

          <b><label>Upload queue</label></b>

          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td *ngIf="uploader.isHTML5">
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" (click)="item.upload()"
                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                    <span class="glyphicon glyphicon-upload"></span> Upload
                  </button>
                  <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()"
                    [disabled]="!item.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                  </button>
                  <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="uploader.queue.length>1">
            <div>
              Queue progress:
              <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
            <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
              [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
              [disabled]="!uploader.isUploading">
              <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
              [disabled]="!uploader.queue.length">
              <span class="glyphicon glyphicon-trash"></span> Remove all
            </button>
          </div>

        </div>

      </div>
      <!-- end upload -->

      <div class="row">
        <div class="col-md-4">
          <button *ngIf="enableEdit" type="submit" class="btn btn-primary mb-2">Save Edit</button>
          <button *ngIf="!enableEdit" type="button" (click)="enableEditForm()"
            class="btn btn-primary mb-2">Edit</button>
        </div>
        <div class="col-md-4">
          <button type="button" (click)="addWatch()" class="btn btn-primary mb-2">Watch</button>
        </div>
      </div>

    </form>

  </div>

  <div class="col-md-3">

    <div class="row">
      Notifications
    </div><br>

    <cdk-virtual-scroll-viewport itemSize="3" class="example-viewport">
      <div *ngIf="notificationList.length>0">
        <div *cdkVirtualFor="let notify of notificationList" class="list">
          {{notify}}
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

    <div class="row">
      Watchers list
    </div><br>

    <cdk-virtual-scroll-viewport itemSize="1" class="example-viewport">
      <div *ngIf="watchersList.length>0">
        <div *cdkVirtualFor="let watcher of watchersList" class="list">
          {{watcher}}
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

  </div>

</div>