<div class="row">
  <button class="btn btn-outline-success" [routerLink]="['/create']" type="submit">Create</button>

  <form class="form-inline">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<div class="container-fluid margintop">

  <div *ngIf="issueListbyUser.length==0">
    No Issues Available
  </div>

  <div *ngIf="issueListbyUser.length>0">

      <table class="table">
        <thead>
          <tr>
            <th>#issueId</th>
            <th>Status</th>
            <th>Title</th>
            <th>Reportee</th>
            <th>Date</th>
          </tr>
        </thead>

        <tbody class="activeIssue" *ngFor="let issue of issueListbyUser" (click)="issueSelected(issue.issueId)">
          <tr>
            <th scope="row">{{issue.issueId}}</th>
            <td>{{issue.status}}</td>
            <td>{{issue.title}}</td>
            <td>{{issue.reportee}}</td>
            <td>{{issue.date}}</td>
          </tr>
        </tbody>
      </table>

  </div>
</div>