.margintop{
    padding-top: 2%
}

#activeIssue:hover{
    background-color: cornsilk;
    align-items: center;
}

.bt{
    font-size: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#choose:hover{
    background-color: burlywood;
    cursor: pointer;
    font-size: 1em;
}


#choose1:hover{
    cursor: pointer;
    font-size: 1em;
}

.active{
    background-color: aquamarine
}