<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container-fluid margintop">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark ft-color">

            <a class="navbar-brand" href="/">Issue Tracker</a>
            <div *ngIf="isLoggedIn===authToken">Welcome {{userName}} </div>

            <ul class="navbar-nav">
                <li *ngIf="isLoggedIn===authToken"> <a class="activeDiv  ft-color" href='login'
                        (click)="logout()">Logout</a></li>
                <li *ngIf="isLoggedIn!=authToken"><a class="activeDiv  ft-color" href='login'>Login</a></li>
            </ul>

            <!-- <button *ngIf="isLoggedIn===authToken" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="notify">Notifications <span>{{count}}</span>
            </button>
            <div  *ngIf="isLoggedIn===authToken" id="notify" [ngbCollapse]="isCollapsed">
                <div class="card">
                    <div class="card-body">
                        You can collapse this card by clicking Toggle
                    </div>
                </div>
            </div> -->

        </nav>
    </div>

    <div class="container-fluid margintop row">
        <div class="col-md-2"></div>
        <div class="col-md offset-md-1">
            <router-outlet>
            </router-outlet>
        </div>

    </div>

</body>

</html>