.margintop{
    padding-top: 7%
}
.bg-transparent {
    background-color: transparent;
  }
  
  #login{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(106, 106, 161);
}

  :host {
    height: 100%;
  }
  
  .photo {
    object-fit: contain;
  }
  
  .card {
    width: 20rem;
    margin: 0 auto;
  }