<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="row-sm margintop">

  <div class="col-md-2"></div>
  <div class="col-md-6 offset-md-2">
    <div>Login</div><br>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <input [(ngModel)]="email" placeholder="email" type="email" name="email" id="email" class="form-control"
          #mail="ngModel" required>
      </div>
      <div class="form-group">
        <input [(ngModel)]="password" placeholder="password" type="password" name="password" id="password"
          #pass="ngModel" required class="form-control">
      </div>
      <button type="submit" class="btn btn-primary btn-small ">Login</button>
    </form>
    <div>New User Register <a href="/signup">here</a></div>
  </div>

</div>

<!-- social login -->
<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block">
      <h4 class="card-title">Not signed in</h4>
      <p class="card-text">Sign in with</p>
    </div>
    <div class="card-block">
      <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span
          class="fa fa-google"></span></button>
      <!-- <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button> -->
      <!-- <button class="btn btn-social-icon btn-linkedin mx-1" (click)="signInWithLinkedIn()" disabled><span class="fa fa-linkedin"></span></button> -->
    </div>
  </div>
  <div *ngIf="user" class="card text-center">
    <h6 class="card-header">
      Social Login Demo
    </h6>
    <div class="card-block"></div>
    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
    <div class="card-block">
      <h4 class="card-title">{{ user.name }}</h4>
      <p class="card-text">{{ user.email }}</p>
    </div>
    <div class="card-block">
      <button class="btn btn-danger" (click)="signOut()">Sign out</button>
    </div>
  </div>
</div>