<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Log-in</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

  <div class="row-sm margintop">

    <div class="col-md-2"></div>
    <div class="col-md-6 offset-md-2">
      <div>Login</div><br>
      <form #loginForm="ngForm" (ngSubmit)="login()">
        <div class="form-group">
          <input [(ngModel)]="email" placeholder="email" type="email" name="email" id="email" class="form-control"
            #mail="ngModel" required>
        </div>
        <div class="form-group">
          <input [(ngModel)]="password" placeholder="password" type="password" name="password" id="password"
            #pass="ngModel" required class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-small ">Login</button>
      </form>
      <div>New User Register <a href="/signup">here</a></div>
    </div>

  </div>

</body>

</html>